body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; /* Sets font family */
    padding: 10px; /* Creates space evenly around element */
}

form {
    display: inline;
}

input {
    padding: 6.5px;
}

#add-form input{
    position: relative;
    width: 159px;
}

#new_item{
    position: relative;
    width: 159px;
}

ul {
    list-style-type: none; /* Remove list bullets */
    padding: 0 5px 0 0;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom-outline {
    border: none;
    border-bottom: 2px solid gray;
}

.button-group {
    padding: 8px 20px;
    border-radius: 2px;
    cursor: pointer;
    margin: auto;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    border-style: solid;
    border: 2px solid black;
    border-radius: 5px;
}

#add-form {
    margin: auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#item{
    margin: auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#color-button {
    background-color: transparent;
    color: black;
    border: 1px solid #00aaff;
}

#add-button {
    background-color: transparent;
    color: black;
    border: 1px solid #00aaff;
}

#add-button:hover {
    background-color: #00aaff;
    color: black;
    animation: slide 0.5s ease-in;
}

#delete-button {
    background-color: transparent;
    color: black;
    border: 1px solid red;
}

#delete-button:hover {
    background-color: red;
    color: white;
    animation: slide 0.5s ease-in;
}

#update-button {
    background-color: transparent;
    color: black;
    border: 1px solid green;
}

#update-button:hover {
    background-color: green;
    color: white;
    animation: slide 0.5s ease-in;
}

#color-button {
    background-color: transparent; /* Button color */
    color: black; /* Font color */
    border: 1px solid #00aaff; /* Button border */
}

@keyframes slide {
    0%{
        border: 1px solid black;
    }
    50%{
        border: 2px solid light gray;
    }
    100%{
        border: 3px solid grey;
    }
}